<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body>
		<header>
			<div class="logo">
				<a href="/">ItaCa</a>
			</div>
			<nav>
				<div class="dropdown">
					Events
					<div class="dropdown-content">
						<p><a href="http://www.mat.unimi.it/users/itaca/">ItaCa 2019</a></p>
						<p><a href="/">ItaCaFest</a></p>
					</div>
				</div>
				&bull;
				<div class="dropdown">
					People
					<div class="dropdown-content">
						<p><a href="../pages/name.html">Names ☺</a></p>
						<p><a href="../pages/loca.html">Locations &#x1f4cc;</a></p>
						<p><a href="../pages/inte.html">Interests &#128161;</a></p>
						<p><a href="../pages/posi.html">Positions ♻</a></p>
					</div>
				</div>
				&bull;
				<div class="dropdown">
					Contacts
					<div class="dropdown-content">
						<p><a href="../pages/mail.html">mail us &#x2709;</a></p>
						<p><a href="https://www.youtube.com/channel/UCKdVVjPg_dHhbIiuzLh4Llg" target="_blank">youtube &#127909;</a></p>
						<p><a href="https://www.facebook.com/groups/507590330041282/" target="_blank">facebook ⛹</a></p>
					</div>
				</div>
			</nav>
		</header>

		<main role="main">
			{{ content }}
		</main>

		<footer>
			<!-- This site is powered by
			<a href="http://jaspervdj.be/hakyll">monads</a>. -->
		</footer>
	</body>
</html>
